<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <i class="fa fa-pied-piper" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</nav>